
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: roboto;
  background-color:  #f2f2f2;
}

.blue-background {
  background-color:#35a1f4;
}

button {
  text-transform: uppercase;
  outline: 0;
  background-color: #35a1f4;
  width: 100%;
  border: 0;
  padding: 20px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

/**Alter bootsrap Styling**/
.container {
  margin-top: 5%;
  margin-bottom: 5%;
}
.btn-primary{
  background-color:#35a1f4;
  color: white;
}

/**Navigation Bar Styling**/
nav {
  background: white;
  box-shadow: 0 2px 4px 0 gray;
  height: 80px;
  width: 100%;
}
label.logo {
  color: #35a1f4;
  font-size: 45px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: #00205e;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}
nav a:hover,
nav a.active {
  background: #35a1f4;
  color: white;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: #35a1f4;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #35a1f4;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

/*Index page content*/
#img-features {
  height: 30%;
  width: 30%;
  max-width: 25vw;
  position: relative;
  bottom: -80px;
  right: -500px;
}
/**Login Page**/

.signin-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.signin-page .form .signin {
  margin-top: -31px;
  margin-bottom: 26px;
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}


.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #35a1f4;
  text-decoration: none;
}
/** Lesson page**/
.listST {
  padding: 0;
  margin: 0;
  box-sizing: content-box;

  justify-content: center;
  align-self: center;
  min-height: 100vh;
  width: 300px;
}
.listST h2 {
  position: absolute;
  top: 240px;
  right: 550px;
  color: #909090;
  font-weight: bold;
}

.listST ul {
  position: relative;
  bottom: -200px;
  right: -800px;
  background: #f2f2f2;
}

.listST ul li {
  list-style-type: none;
  /**border: 1px solid #ddd;       background-color: #f6f6f6; **/
  background: #fff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
  transition: transform 0.5s;
}

.listST ul li a {
  color: #000000;
}
.listST ul li:hover {
  transform: scale(1.1);
  z-index: 100;
  background: #35a1f4;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  color: #fff;
  /**font-weight: bold; **/
}
.listST a:hover {
  color: #fff;
}
